body{
  margin: 0;
  padding: 0;
}

#board-holder{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas{
  border: 1px solid #000000;
}

.btn-holder{
  display: flex;
}